---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Seo from "../components/Seo.astro";

const { title, description, canonical = Astro.url.href } = Astro.props;
---

<!doctype html>
<html lang="fr" data-theme="autosoftronics">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <Seo title={title} description={description} canonical={canonical} />
  </head>

  <body class="min-h-screen bg-base-100 text-base-content overflow-x-hidden">
    <Navbar />

    <!-- IMPORTANT: main doit être relative pour les backgrounds absolus -->
    <main class="relative bg-base-100">
      <slot />
    </main>

    <Footer />
  </body>
</html>